# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "f4f29b4328d3a51313523e8dd98c5d7b"
name = "Testing app"
application_url = "https://ai-product-review-summary.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://ai-product-review-summary.onrender.com/api/auth" ]

[app_proxy]
url = "https://ai-product-review-summary.onrender.com/apps/ai-review-summary"
subpath = "ai-review-summary"
prefix = "apps"
